In [2]:
import acquire

In [ ]:
people_df = acquire.get_people()
people_df.shape

In [ ]:
people_df.head(1)

In [ ]:
planets_df = acquire.get_planets()
planets_df.shape

In [ ]:
planets_df.head(1)

In [ ]:
starships_df = acquire.get_starships()
starships_df.shape

In [ ]:
starships_df.head(1)

In [ ]:
acquire.make_csvs(people_df, planets_df, starships_df)

In [ ]:
star_wars = acquire.combine_dfs(people_df, planets_df, starships_df)

In [ ]:
star_wars.head()

In [3]:
germany = acquire.get_germany()
germany.head(1)

         Date  Consumption  Wind  Solar  Wind+Solar
0  2006-01-01     1069.184   NaN    NaN         NaN